<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

<!-- Add this at the end of your HTML body -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>
  $(document).ready(function () {
    $('.services-carousel3').owlCarousel({
      loop: true,
      margin: 10,
      nav: false,
      autoplay: true,
      autoplayTimeout: 3000, // Adjust the autoplay timeout as needed
      autoplaySpeed: 800, // Adjust the autoplay speed as needed
      rtl: true, // Set to true for right-to-left direction
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 2
        },
        1000: {
          items: 3
        }
      }
    });
  });
</script>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>Muhammad Hassan</title>
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="../static/lib/hover/hover.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- Responsive css -->
  <link href="../static/css/responsive.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../static/images/favicon.png">

  <!-- =======================================================
    Theme Name: Folio
    Theme URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>

  <!-- start section navbar -->
  <nav id="main-nav">
    <div class="row">
      <div class="container">

        <div class="logo">
          <a><img src="../static/images/logo.png" alt="logo"></a>
        </div>
        <!-- Add this line to the head section of your HTML file -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">


        <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i>
        </div>

        <ul class="nav-menu list-unstyled">
          <li><a href="#header" class="smoothScroll"><strong>Home</strong></a></li>
          <li><a href="#about" class="smoothScroll"><strong>About</strong></a></li>
          <li><a href="#portfolio" class="smoothScroll"><strong>Portfolio</strong></a></li>
          <li><a href="#journal" class="smoothScroll"><strong>Demo</strong></a></li>
          <li><a href="#contact" class="smoothScroll"><strong>Contact</strong></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End section navbar -->


  <!-- start section header -->
  <div id="header" class="home">

    <div class="container">
      <div class="header-content">
        <h1>I'm <span class="typed"></span></h1>
        <p>Artificial Intelligence, Deep Learning, Machine Learning, Computer Vision.</p>

        <ul class="list-unstyled list-social">
          <li><a href="https://www.facebook.com/muhammad.hassanjutt.167?mibextid=ZbWKwL"><i class="ion-social-facebook"></i></a></li>
          <li><a href="https://twitter.com/i/flow/login?redirect_after_login=%2FM_Hassan_Mehtab"><i class="ion-social-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/m_hassan_mehtab"><i class="ion-social-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/in/muhammad-hassan-5774a9212?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="ion-social-linkedin"></i></a></li>
          <li><a href="https://web.whatsapp.com/send/?phone={92}{3114776921}&text=Ask Anything"><i class="ion-social-whatsapp"></i></a></li>
          <li><a href="https://github.com/innovation-seek?tab=repositories"><i class="ion-social-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End section header -->


  <!-- start section about us -->
  <div id="about" class="paddsection">
    <div class="container">
      <div class="row justify-content-between">

        <div class="col-lg-4 ">
          <div class="div-img-bg">
            <div class="about-img">
              <img src="../static/images/me.png" class="img-responsive" alt="me">
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="about-descr">

            <p class="p-heading">I am Artificial Intelligence engineer.</p>
            <p class="separator">As an AI engineer, I am passionate about pushing the boundaries of artificial intelligence to create innovative solutions that transform industries and enhance user experiences. With a solid foundation in machine learning, deep learning, and natural language processing, I specialize in designing and implementing intelligent systems that solve complex problems. My portfolio showcases a diverse range of projects, demonstrating my expertise in developing cutting-edge algorithms, neural networks, and data-driven models. I thrive on the challenges of merging technology with human-centric design, and my commitment to staying at the forefront of AI advancements underscores my dedication to shaping the future of intelligent computing. Explore my portfolio to witness the intersection of creativity and technology, where AI-driven solutions pave the way for a smarter and more connected world..</p>

          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end section about us -->


  <!-- start section services -->
  <div id="services">
    <div class="container">

        <div class="services-carousel owl-theme">

          <div class="services-block">

            <i class="ion-ios-browsers-outline"></i>
            <span>Artificial Intelligence</span>
            <p class="separator">Offering cutting-edge AI solutions, we harness the power of advanced algorithms to automate processes, make data-driven decisions, and unlock new possibilities for businesses.</p>

          </div>

          <div class="services-block">

            <i class="ion-ios-lightbulb-outline"></i>
            <span>Machine Learning</span>
            <p class="separator">Transforming data into actionable insights, our machine learning expertise enables predictive analytics, recommendation systems, and personalized experiences for enhanced business outcomes.</p>

          </div>

          <div class="services-block">

            <i class="ion-ios-color-wand-outline"></i>
            <span>Deep Learning</span>
            <p class="separator">Delving into neural networks and complex patterns, our deep learning solutions empower systems to recognize, understand, and respond intelligently to diverse data, pushing the boundaries of innovation.</p>

          </div>

          <div class="services-block">

            <i class="ion-social-android-outline"></i>
            <span>Computer Vision</span>
            <p class="separator">We specialize in computer vision applications, enabling machines to interpret and make decisions based on visual data, revolutionizing industries from healthcare to automation.</p>

          </div>

          <div class="services-block">

            <i class="ion-ios-analytics-outline"></i>
            <span>Natural Language Processing</span>
            <p class="separator">Redefining human-computer interaction, our NLP solutions leverage language understanding and generation, facilitating communication and extracting valuable insights from textual data.</p>

          </div>

          <div class="services-block">

            <i class="ion-ios-camera-outline"></i>
            <span>Generative Artificial Intelligence</span>
            <p class="separator">Exploring the realms of creativity, our generative AI services produce innovative content, designs, and ideas, adding a touch of uniqueness to digital experiences.</p>

          </div>

        </div>

    </div>

  </div>
  <!-- end section services -->
  <div id="services2">
    <div class="container">
        <div class="services-carousel owl-theme" data-rtl="true" >
          <div class="services-block">
            <i class="ion-ios-browsers-outline"></i>
            <span>AI Applications</span>
            <p class="separator">Crafting bespoke AI applications, we align technology with business objectives, creating solutions that enhance efficiency, automate tasks, and drive strategic growth.</p>
          </div>

          <div class="services-block">

            <i class="ion-ios-lightbulb-outline"></i>
            <span>Web Apps</span>
            <p class="separator">Developing dynamic and user-centric web applications, we blend functionality with seamless design, ensuring an engaging online experience for your audience.</p>

          </div>

          <div class="services-block">

            <i class="ion-ios-color-wand-outline"></i>
            <span>Mobile Apps</span>
            <p class="separator">From concept to deployment, our mobile app development services bring your ideas to life, offering intuitive and feature-rich applications for both iOS and Android platforms.</p>

          </div>

          <div class="services-block">

            <i class="ion-social-android-outline"></i>
            <span>Ui/Ux</span>
            <p class="separator">Focused on user-centric design, our UI/UX services ensure visually appealing interfaces and optimal user experiences, enhancing engagement and satisfaction.</p>

          </div>

<!--          <div class="col-lg-4 col-md-6">-->
<!--            <div class="journal-info">-->
<!--              <a><img src="../static/images/portfolio/12.jpg" class="img-responsive custom-image" alt="img"></a>-->
<!--              <div class="journal-txt">-->
<!--                <h4><a>Image Segmentation</a></h4>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->


          <div class="services-block">

            <i class="ion-ios-analytics-outline"></i>
            <span>Graphics Design</span>
            <p class="separator">Elevating brand visuals, our graphics design services create impactful designs for logos, branding, and marketing collateral, conveying your brand story with creativity and flair.</p>

          </div>

          <div class="services-block">

            <i class="ion-ios-camera-outline"></i>
            <span>IT Services</span>
            <p class="separator">Providing comprehensive IT services, we offer solutions ranging from system integration and IT consulting to infrastructure management, ensuring a robust and secure technology foundation for your business.</p>

          </div>

        </div>

    </div>

  </div>

  <!-- end section services2 -->



  <!-- start section services3 -->

  <div id="services3">
  <div class="container">
    <div class="services-carousel3 owl-carousel owl-theme" data-rtl="true">
      <div class="services-block">
        <img src="../static/images/portfolio/12.jpg" class="img-responsive custom-image" alt="Image Segmentation">
        <span>Image Segmentation</span>
        <p class="separator">Description for Image Segmentation service.</p>
      </div>

      <div class="services-block">
        <img src="path/to/image2.jpg" class="img-responsive custom-image" alt="Web Apps">
        <span>Web Apps</span>
        <p class="separator">Description for Web Apps service.</p>
      </div>

      <!-- Add similar blocks for other services -->

    </div>
  </div>
</div>

  <!-- end section services3 -->










  <!-- start section portfolio -->
  <div id="portfolio" class="text-center paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h2>My Portfolio</h2>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="portfolio-list">

            <ul class="nav list-unstyled" id="portfolio-flters">
<!--              <li class="filter" data-filter=".all">all</li>-->
              <li class="filter" data-filter=".o">Object Detection</li>
              <li class="filter filter-active" data-filter=".segment">Image segmentation</li>
              <li class="filter" data-filter=".f">Face Detection</li>
              <li class="filter" data-filter=".w">Web Design</li>
              <li class="filter" data-filter=".b">Brochures</li>
            </ul>

          </div>

          <div class="portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-thumbnail segment">
              <a class="popup-img" href="../static/images/portfolio/1.jpg">
                <img src="../static/images/portfolio/1.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail f">
              <a class="popup-img" href="../static/images/portfolio/2.jpg">
                <img src="../static/images/portfolio/2.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail segment">
              <a class="popup-img" href="../static/images/portfolio/3.jpg">
                <img src="../static/images/portfolio/3.jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail b">
              <a class="popup-img" href="../static/images/portfolio/4.jpg">
                <img src="../static/images/portfolio/4.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail o">
              <a class="popup-img" href="../static/images/portfolio/5.jpg">
                <img src="../static/images/portfolio/5.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail o">
              <a class="popup-img" href="../static/images/portfolio/6.jpg">
                <img src="../static/images/portfolio/6.png" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail f">
              <a class="popup-img" href="../static/images/portfolio/6.jpg">
                <img src="../static/images/portfolio/me.png" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail o">
              <a class="popup-img" href="../static/images/portfolio/7.png">
                <img src="../static/images/portfolio/7.png" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail o">
              <a class="popup-img" href="../static/images/portfolio/8.jpg">
                <img src="../static/images/portfolio/8.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail o">
              <a class="popup-img" href="../static/images/portfolio/9.jpg">
                <img src="../static/images/portfolio/9.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail o">
              <a class="popup-img" href="../static/images/portfolio/10.jpg">
                <img src="../static/images/portfolio/10.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail o">
              <a class="popup-img" href="../static/images/portfolio/11.jpg">
                <img src="../static/images/portfolio/11.jpg" alt="img">
              </a>
            </div>


            <div class="col-lg-4 col-md-6 portfolio-thumbnail segment">
              <a class="popup-img" href="../static/images/portfolio/12.jpg">
                <img src="../static/images/portfolio/12.jpg" alt="img">
              </a>
            </div>

            <!--broshurs-->

            <div class="col-lg-4 col-md-6 portfolio-thumbnail b">
              <a class="popup-img" href="../static/images/portfolio/b%20(1).jpeg">
                <img src="../static/images/portfolio/b%20(1).jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail b">
              <a class="popup-img" href="../static/images/portfolio/b%20(2).jpeg">
                <img src="../static/images/portfolio/b%20(2).jpeg" alt="img">
              </a>
            </div>

<!--            <div class="col-lg-4 col-md-6 portfolio-thumbnail photography">-->
<!--              <a class="popup-img" href="images/portfolio/b%20(3).jpeg">-->
<!--                <img src="images/portfolio/b%20(3).jpeg" alt="img">-->
<!--              </a>-->
<!--            </div>-->

            <div class="col-lg-4 col-md-6 portfolio-thumbnail b">
              <a class="popup-img" href="../static/images/portfolio/b%20(4).jpeg">
                <img src="../static/images/portfolio/b%20(4).jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail b">
              <a class="popup-img" href="../static/images/portfolio/b%20(5).jpeg">
                <img src="../static/images/portfolio/b%20(5).jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail b">
              <a class="popup-img" href="../static/images/portfolio/b%20(6).jpeg">
                <img src="../static/images/portfolio/b%20(6).jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail b">
              <a class="popup-img" href="../static/images/portfolio/b%20(7).jpeg">
                <img src="../static/images/portfolio/b%20(7).jpeg" alt="img">
              </a>
            </div>

<!--            <div class="col-lg-4 col-md-6 portfolio-thumbnail photography">-->
<!--              <a class="popup-img" href="images/portfolio/b%20(8).jpeg">-->
<!--                <img src="images/portfolio/b%20(8).jpeg" alt="img">-->
<!--              </a>-->
<!--            </div>-->

            <div class="col-lg-4 col-md-6 portfolio-thumbnail b">
              <a class="popup-img" href="../static/images/portfolio/b%20(9).jpeg">
                <img src="../static/images/portfolio/b%20(9).jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail b">
              <a class="popup-img" href="../static/images/portfolio/b%20(10).jpeg">
                <img src="../static/images/portfolio/b%20(10).jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail b">
              <a class="popup-img" href="../static/images/portfolio/b%20(11).jpeg">
                <img src="../static/images/portfolio/b%20(11).jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail b">
              <a class="popup-img" href="../static/images/portfolio/b%20(12).jpeg">
                <img src="../static/images/portfolio/b%20(12).jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail b">
              <a class="popup-img" href="../static/images/portfolio/b%20(13).jpeg">
                <img src="../static/images/portfolio/b%20(13).jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail b">
              <a class="popup-img" href="../static/images/portfolio/b%20(14).jpeg">
                <img src="../static/images/portfolio/b%20(14).jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail b">
              <a class="popup-img" href="../static/images/portfolio/b%20(15).jpeg">
                <img src="../static/images/portfolio/b%20(15).jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail b">
              <a class="popup-img" href="../static/images/portfolio/b%20(16).jpeg">
                <img src="../static/images/portfolio/b%20(16).jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail b">
              <a class="popup-img" href="../static/images/portfolio/b%20(17).jpeg">
                <img src="../static/images/portfolio/b%20(17).jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail b">
              <a class="popup-img" href="../static/images/portfolio/b%20(18).jpeg">
                <img src="../static/images/portfolio/b%20(18).jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail b">
              <a class="popup-img" href="../static/images/portfolio/b%20(19).jpeg">
                <img src="../static/images/portfolio/b%20(19).jpeg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail b">
              <a class="popup-img" href="../static/images/portfolio/b%20(20).jpeg">
                <img src="../static/images/portfolio/b%20(20).jpeg" alt="img">
              </a>
            </div>




          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- End section portfolio -->


  <!-- start section journal -->
  <div id="journal" class="text-left paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h2>Demonstration</h2>
        <br>
        <br>
        <br>
        <video width="640" height="360" controls autoplay>
        <source src="{{ url_for('static', filename='videos/demo.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
      </div>
    </div>






    <div class="container">
      <div class="journal-block">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a ><img src="../static/images/portfolio/12.jpg" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a >Image Segmentation</a></h4>
<!--                <p class="separator">To an English person, it will seem like simplified English-->
<!--                </p>-->

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a ><img src="../static/images/portfolio/8.jpg" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a >vehicle tracking system.</a></h4>
<!--                <p class="separator">To an English person, it will seem like simplified English-->
<!--                </p>-->

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a ><img src="../static/images/portfolio/5.jpg" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a >Vehicle Analysis system.</a></h4>
<!--                <p class="separator">To an English person, it will seem like simplified English-->
<!--                </p>-->

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <!-- End section journal -->


  <!-- start sectoion contact -->
  <div id="contact" class="paddsection">
    <div class="container">
      <div class="contact-block1">
        <div class="col">
          <h1 class="mb-30">GET IN TOUCH</h1>
                <ul class="contact-details">
                  <li><span><strong>Institute of Computer Technology</strong></span></li>
                  <li><span><strong>Daroghawala Lahore, Punjab</strong></span></li>
                  <li><span><strong>+92 3114776921</strong></span></li>
                  <li><span><strong>hassan.ad.mehtab@gmail.com</strong></span></li>
                </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- start sectoion contact -->


  <!-- start section footer -->
  <div id="footer" class="text-center">
    <div class="container">
      <div class="socials-media text-center">

        <ul class="list-unstyled">
          <li><a href="https://www.facebook.com/muhammad.hassanjutt.167?mibextid=ZbWKwL"><i class="ion-social-facebook"></i></a></li>
          <li><a href="https://twitter.com/i/flow/login?redirect_after_login=%2FM_Hassan_Mehtab"><i class="ion-social-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/m_hassan_mehtab"><i class="ion-social-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/in/muhammad-hassan-5774a9212?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="ion-social-linkedin"></i></a></li>
          <li><a href="https://web.whatsapp.com/send/?phone={92}{3114776921}&text=Ask Anything"><i class="ion-social-whatsapp"></i></a></li>
          <li><a href="https://github.com/innovation-seek?tab=repositories"><i class="ion-social-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End section footer -->

  <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/typed/typed.js"></script>
  <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../static/lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="../static/lib/isotope/isotope.pkgd.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="../static/contactform/contactform.js"></script>

  <!-- templates Main Javascript File -->
  <script src="../static/js/main.js"></script>

</body>

</html>
